* {
    font-family: 'EB Garamond', serif;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: 'EB Garamond', serif;
}


/* i am using a coustom css class for all peragraphs item */
.lj-pera {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #707070;
}


/* css custom class for  btn background color  */
.lj-btn-bg {
    background-color: #B68C5A !important;
}